table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
}

table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 30px;
  background: #FA8807;
  font-size: 16px;
  font-weight:bold;
}
table tbody tr {
  height: 30px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
#body1 {
  background: #9BC86A;
  font: 400 14px 'Calibri','Arial';
  padding: 6px;
  border-radius:10px;
  margin:5px;
  margin-top:15px !important;
}

blockquote {
  color: white;
  text-align: center;
}