<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="app.action('ChangePartQuantity', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Part Quantity Change</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1"
                style="border-bottom: 1px solid rgb(238, 238, 238); background-color: rgb(247, 247, 247); padding: 0px 12px;">
                <div class="col" data-comp-id="column.1">
                    <div class="" data-comp-id="text.1"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">PART NUMBER</div>
                    <div class="" data-comp-id="text.2" ng-bind="data.partNumber"
                        style="margin: 0px; line-height: 14px;color: rgb(51, 51, 51);">LGH-90204602</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2"
                style="border-bottom: 1px solid rgb(238, 238, 238); background-color: rgb(247, 247, 247); margin: 0px; padding: 0px 12px;">
                <div class="col" data-comp-id="column.2">
                    <div class="" data-comp-id="text.3"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">ORDERED QUANTITY</div>
                    <div class="" data-comp-id="text.4" ng-bind="data.orderedQuantity"
                        style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">10</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3"
                style="border-bottom: 1px solid rgb(238, 238, 238); padding: 4px 12px 10px;">
                <div class="col" data-comp-id="column.3" style="padding: 2px 6px;">
                    <div class="" data-comp-id="text.5"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">BIN MASTER</div>
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.1"
                        style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                        <!--<span class="input-label">Select</span>-->
                        <select ng-model="data.binMaster.selected"
                            ng-options="item as item.label for item in data.binMaster.options"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.4"
                style="border-bottom: 1px solid rgb(238, 238, 238); padding: 4px 12px 10px;">
                <div class="col" data-comp-id="column.4" style="padding: 2px 6px;">
                    <div class="" data-comp-id="text.6"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">ALTERNATIVE PART</div>
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.2"
                        style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                        <!--  <span class="input-label">Select</span>-->
                        <select ng-model="data.alternativePart.selected"
                            ng-options="item as item.label for item in data.alternativePart.options"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.5"
                style="border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; padding: 2px 12px;">
                <div class="col" data-comp-id="column.5" style="padding: 0px 0px 2px 6px;">
                    <div class="" data-comp-id="text.7"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">RECEIVED QUANTITY</div>
                    <div class="row" data-comp-id="row.6" style="padding: 0px; margin: 0px;">
                        <div class="col" data-comp-id="column.6" style="padding: 2px 4px 8px 0px;">
                            <label class="item item-input" data-comp-id="textInput.1"
                                style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                                <input ng-model="data.receivedQuantity" type="number">
                            </label>
                        </div>
                        <div class="col col-33 text-right" data-comp-id="column.7"
                            style="padding: 4px 0px; margin: 0px 0px 0px 10px;">
                            <button class="button icon ion-minus button-small button-positive"
                                data-comp-id="button.2" ng-click="decrementQuantity('receivedQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px;"></button>
                            <button class="button icon ion-plus button-small button-positive"
                                data-comp-id="button.3" ng-click="incrementQuantity('receivedQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px 8px 0px 18px;"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.7"
                style="border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; padding: 2px 12px;">
                <div class="col" data-comp-id="column.8" style="padding: 0px 0px 2px 6px;">
                    <div class="" data-comp-id="text.8"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">DAMAGED QUANTITY</div>
                    <div class="row" data-comp-id="row.8" style="padding: 0px; margin: 0px;">
                        <div class="col" data-comp-id="column.9" style="padding: 2px 4px 8px 0px;">
                            <label class="item item-input" data-comp-id="textInput.2"
                                style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                                <input ng-model="data.damagedQuantity" type="number">
                            </label>
                        </div>
                        <div class="col col-33 text-right" data-comp-id="column.10"
                            style="padding: 4px 0px; margin: 0px 0px 0px 10px;">
                            <button class="button icon ion-minus button-small button-positive"
                                data-comp-id="button.4" ng-click="decrementQuantity('damagedQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px;"></button>
                            <button class="button icon ion-plus button-small button-positive nocolor-icon"
                                data-comp-id="button.5" ng-click="incrementQuantity('damagedQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px 8px 0px 18px;"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.9"
                style="border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; padding: 2px 12px;">
                <div class="col" data-comp-id="column.11" style="padding: 0px 0px 2px 6px;">
                    <div class="" data-comp-id="text.9"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">EXCESS QUANTITY</div>
                    <div class="row" data-comp-id="row.10" style="padding: 0px; margin: 0px;">
                        <div class="col" data-comp-id="column.12" style="padding: 2px 4px 8px 0px;">
                            <label class="item item-input" data-comp-id="textInput.3"
                                style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                                <input ng-model="data.excessQuantity" type="number">
                            </label>
                        </div>
                        <div class="col col-33 text-right" data-comp-id="column.13"
                            style="padding: 4px 0px; margin: 0px 0px 0px 10px;">
                            <button class="button icon ion-minus button-small button-positive"
                                data-comp-id="button.6" ng-click="decrementQuantity('excessQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px;"></button>
                            <button class="button icon ion-plus button-small button-positive"
                                data-comp-id="button.7" ng-click="incrementQuantity('excessQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px 8px 0px 18px;"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.11"
                style="border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; padding: 2px 12px;">
                <div class="col" data-comp-id="column.14" style="padding: 0px 0px 2px 6px;">
                    <div class="" data-comp-id="text.10"
                        style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">LOST QUANTITY</div>
                    <div class="row" data-comp-id="row.12" style="padding: 0px; margin: 0px;">
                        <div class="col" data-comp-id="column.15" style="padding: 2px 4px 8px 0px;">
                            <label class="item item-input" data-comp-id="textInput.4"
                                style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51);">
                                <input ng-model="data.lostQuantity" type="number">
                            </label>
                        </div>
                        <div class="col col-33 text-right" data-comp-id="column.16"
                            style="padding: 4px 0px; margin: 0px 0px 0px 10px;">
                            <button class="button icon ion-minus button-small button-positive"
                                data-comp-id="button.8" ng-click="decrementQuantity('lostQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px;"></button>
                            <button class="button icon ion-plus button-small button-positive "
                                data-comp-id="button.9" ng-click="incrementQuantity('lostQuantity')"
                                style="border: 1px solid rgb(238, 238, 238); margin: 0px 8px 0px 18px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""
        style="box-shadow: rgb(221, 221, 221) 0px -5px 12px -4px;">
        <div class="row" data-comp-id="row.13">
            <div class="col" data-comp-id="column.17">
                <button class="btn btn-default button-small light" data-comp-id="button.10"
                    ng-click="app.action('ChangePartQuantity', 'update', this)"
                    style="border-radius: 4px; border: none; height: 40px; width: 100%; background-color: rgb(0, 107, 182);"
                    type="submit">
                    <span style="font-size: 12px;">UPDATE RECEIVED QUANTITY</span>
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>