<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="app.action('UploadImage', 'cancel', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Upload Photo</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-light button-clear" data-comp-id="button.2"
                ng-click="addPhoto()">
                <font color="white">Save</font>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="" data-comp-id="div.1" style="background-color: rgb(247, 247, 251);">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1">
                    <!--     <i class="icon fa-icon fa-upload" data-comp-id="icon.1"
                        style="color: rgb(209, 209, 209);"></i>-->
                    <span class="" data-comp-id="text.1"
                        style="font-size: 14px; margin: 0px; line-height: 30px;">Upload Photo of Damaged Part</span>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2" style="margin: 0px;">
            <div class="row" data-comp-id="row.2">
                <div class="col text-center" data-comp-id="takePhoto.1"
                    style="border: 3px dotted rgb(200, 200, 200); border-radius: 10px; padding: 20px; background-color: rgb(238, 238, 238); margin: 0px 12px;"
                    take-photo="control">
                    <i class="icon ion-camera positive" data-comp-id="icon.1"
                        style="font-size: 30px;"></i>
                    <textarea class="not-visible"></textarea>
                    <div data-comp-id="text.2" style="line-height: 32px;">Take Photo</div>
                    <p class="" data-comp-id="text.3"
                        style="font-weight: 300; font-size: 10px; color: rgb(207, 104, 104);">Note : Upload file size limit is 2 MB.</p>
                    <input disabled="" id="camera" ng-if="style === 'control'" ng-model="mydata"
                        style=" display:none;height:0px;text-align:center; width: 100%; font-size: 11px;"
                        type="text">
                </div>
            </div>
            <!--<div class=" assertive" data-comp-id="text.2"
                style="font-size: 10px; padding: 0px 45px;">Note : Upload file size limit is 2 MB.</div>-->
            <div class="row" data-comp-id="row.3" style="margin: 0px;">
                <div class="col" data-comp-id="column.2" style="padding: 0px; margin: 0px 12px;">
                    <div class="" data-comp-id="text.4"
                        style="font-size: 14px; margin: 0px 0px 5px;">Description</div>
                    <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                        <span class="input-label"></span>
                        <textarea ng-model="data.description" rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>