<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="goToServiceJob();"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div>
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}
                -
                {{ownername}}
            </div>
            <div class=" light-bg" style="margin: 7px 7px">
                <div class="row " data-comp-id="div.1" style="margin-top:20px">
                    <div class=" card light-bg" data-comp-id="div.2" ng-click="viewJobInfo();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.1" data-img="" ng-src="{{jobinfos.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.1" style="font-size: 15px;">
                            {{jobinfos.categoryName}}
                        </div>
                    </div>
                    <div class=" card light-bg" data-comp-id="div.3" ng-click="viewUnitOwnerInfo();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.2" data-img="" ng-src="{{ownerinfos.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.2" style="font-size: 15px;">
                            {{ownerinfos.categoryName}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" data-comp-id="div.4">
                    <div class="card light-bg" data-comp-id="div.5" ng-click="viewJobHistory();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.3" data-img="" ng-src="{{viewhistorys.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.3" style="font-size: 15px;">
                            {{viewhistorys.categoryName}}
                        </div>
                    </div>
                    <div class=" card light-bg" data-comp-id="div.6" ng-click="remarksPage();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.4" data-img="" ng-src="{{remarks.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.4" style="font-size: 15px;">
                            {{remarks.categoryName}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" data-comp-id="div.7" style="margin-bottom:20px">
                    <div class=" card light-bg" data-comp-id="div.8" ng-click="photoUpload();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.5" data-img="" ng-src="{{photos.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.5" style="font-size: 15px;">
                            {{photos.categoryName}}
                        </div>
                    </div>
                    <div class=" card light-bg" data-comp-id="div.9" ng-click="viewUnitInfo();"
                        style="width: 40%; display: inline-block; margin: 0px 18px;">
                        <img data-comp-id="image.6" data-img="" ng-src="{{unitinfos.image}}"
                            style="width: 85%; margin: 10px; height: 50px;">
                        <div class=" energized" data-comp-id="text.6" style="font-size: 15px;">
                            {{unitinfos.categoryName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>