<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('servicejobhistory', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job History Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle positive">
            {{ticketnumber}}-{{ownername}}
        </div>
        <div class="muck-up borderStyle">
            <div class="overlay"></div>
            <div class="top">
                <div class="nav">
                    <span class="ion-android-menu"></span>
                    <p>Service Job History</p>
                    <span class="ion-ios-more-outline"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="bottom">
                <ul class="tasks">
                    <li class="one green">
                        <span class="task-cat">Service Job Number</span>
                        <span class="task-title">{{data.jobhistorylist.jobnumber}}</span>
                    </li>
                    <li class="one green">
                        <span class="task-cat">Ticket Number</span>
                        <span class="task-title">{{data.jobhistorylist.ticketnumber}}</span>
                    </li>
                    <li class="two green">
                        <span class="task-cat">Problem Description</span>
                        <span class="task-title">{{data.jobhistorylist.problemdescription}}</span>
                    </li>
                    <li class="tow green">
                        <span class="task-cat">Creation Date</span>
                        <span class="task-title" ng-bind="data.jobhistorylist.creationdate"></span>
                    </li>
                    <li class="three green">
                        <span class="task-cat">Status</span>
                        <span class="task-title" ng-bind="data.jobhistorylist.status"></span>
                    </li>
                    <li class="three green">
                        <span class="task-cat">Store
                        </span>
                        <span class="task-title">{{data.jobhistorylist.store}}</span>
                    </li>
                    <li class="three green">
                        <span class="task-cat">Job Priority</span>
                        <span class="task-title">{{data.jobhistorylist.jobpriority}}</span>
                    </li>
                    <li class="one green">
                        <span class="task-cat">Warranty Status</span>
                        <span class="task-title">{{data.jobhistorylist.warrantystatus}}</span>
                    </li>
                    <li class="one green">
                        <span class="task-cat">Warranty Expiry</span>
                        <span class="task-title">{{data.jobhistorylist.warrantyexpiry}}</span>
                    </li>
                    <li class="two green">
                        <span class="task-cat">IMEI</span>
                        <span class="task-title">{{data.jobhistorylist.imei}}</span>
                    </li>
                    <li class="tow green">
                        <span class="task-cat">Product Model</span>
                        <span class="task-title">{{data.jobhistorylist.productmodel}}</span>
                    </li>
                    <li class="three green">
                        <span class="task-cat">Unit Condition</span>
                        <span class="task-title">{{data.jobhistorylist.unitcondition}}</span>
                    </li>
                    <li class="three green">
                        <span class="task-cat">Phone Carrier</span>
                        <span class="task-title">{{data.jobhistorylist.phonecarrier}}</span>
                    </li>
                    <li class="three yellow">
                        <span class="task-cat">Swap Serial Number</span>
                        <span class="task-title">{{data.jobhistorylist.swapserialnumber}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>