<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <img class="sortIcon" data-img=""
                ng-click="app.action('jobinfo', 'cancel', this)" ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title class="" data-comp-id="nav-title.1" style="font-weight:bold;">Job Information</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list class=" stable-bg" data-comp-id="ionic-content.2">
            <div ata-comp-id="text.1" class="menuStyle">
                <div class="row spaceStyle1">
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToHistory();"
                            ng-src="images/history.png">
                        <div class="iconTextstyle">History</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                            ng-src="images/upload.png">
                        <div class="iconTextstyle">Upload</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToRemarks();"
                            ng-src="images/remarks.png">
                        <div class="iconTextstyle">Remarks</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitOwner();"
                            ng-src="images/logistics.png">
                        <div class="iconTextstyle">Logistic</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                            ng-src="images/unit_info_white.png">
                        <div class="iconTextstyle">Unit Info</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}-{{ownername}}
            </div>
        </ion-list>
        <ion-list>
            <div class="light-bg muck-up" style="margin:10px;margin-top:5px">
                <div class="bottom">
                    <ul class="tasks">
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">SERVICE JOB NUMBER</div>
                            <div class="textstyle">{{data.jobnumber}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">TICKET NUMBER</div>
                            <div class="textstyle">{{data.jobnumber}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">JOB CREATION DATE</div>
                            <div class="textstyle">{{data.jobcreationdate}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">REPAIR STATUS</div>
                            <div class="textstyle">{{data.repairstatus}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">PRIORITY</div>
                            <div class="textstyle">{{data.priority}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">PROBLEM CATEGORY</div>
                            <div class="textstyle">{{data.problemcategory}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">PROBLEM DESCRIPTION</div>
                            <div class="textstyle">{{data.problemdescription}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">IS ADP</div>
                            <div class="textstyle">{{data.isadp}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">SERVICE TYPE</div>
                            <div class="textstyle">{{data.servicetype}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">SERVICE MODEL</div>
                            <div class="textstyle">{{data.servicemodel}}</div>
                        </li>
                        <li class="green" style="margin-top:1px !important">
                            <div class="labelstyle">SOFTWARE VERSION</div>
                            <div class="textstyle">{{data.softwareversion}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>