<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('jobinfo', 'cancel', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job Information</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class=" positive"
            style="font-size: 12px; font-style: italic;">
            &lt;&lt; IND-JOB#-000000013 (Ramkewal Chauhan) &gt;&gt;
        </div>
        <svg height="1" width="400">
            <line style="stroke:rgb(0,0,255);stroke-width:2" x1="0" x2="400" y1="0" y2="0"></line>
        </svg>
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 2% 2% 2%;">
            <label class="item item-input light-bg" data-comp-id="textInput.1"
                style="height:35px">
                <div class="labelstyle">
                    <span style="text-align:right;">Service Job No :</span>
                </div>
                <input id="textstyle" ng-model="data.jobnumber" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.2" style="height:35px">
                <div class="labelstyle">
                    <span>Ticket Number :</span>
                </div>
                <input id="textstyle" ng-model="data.ticketnumber" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.3" style="height:35px">
                <div class="labelstyle">
                    <span>Job Creation Date :
                    </span>
                </div>
                <input id="textstyle" ng-model="data.jobcreationdate" type="text">
            </label>
            <label class="item item-input light-bg" data-comp-id="textInput.4"
                style="height:35px">
                <div class="labelstyle">
                    <span>Repair Status :</span>
                </div>
                <input id="textstyle" ng-model="data.repairstatus" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.5" style="height:35px">
                <div class="labelstyle">
                    <span>Priority :</span>
                </div>
                <input id="textstyle" ng-model="data.priority" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.6" style="height:35px">
                <div class="labelstyle">
                    <span>Problem Category :</span>
                </div>
                <input id="textstyle" ng-model="data.problemcategory" type="text">
            </label>
            <label class="item item-input light-bg" data-comp-id="textInput.7"
                style="height:35px">
                <div class="labelstyle">
                    <span>Problem Description:</span>
                </div>
                <input id="textstyle" ng-model="data.problemdescription" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.8" style="height:35px">
                <div class="labelstyle">
                    <span>Is ADP :</span>
                </div>
                <input id="textstyle" ng-model="data.isadp" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.9" style="height:35px">
                <div class="labelstyle">
                    <span>Service Type :</span>
                </div>
                <input id="textstyle" ng-model="data.servicetype" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.10" style="height:35px">
                <div class="labelstyle">
                    <span>Service Model :</span>
                </div>
                <input id="textstyle" ng-model="data.servicemodel" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.11" style="height:35px">
                <div class="labelstyle">
                    <span>Software Version :</span>
                </div>
                <input id="textstyle" ng-model="data.softwareversion" type="text">
            </label>
        </div>
        <!--<div data-comp-id="div.2" style="width: 80%; margin: 2%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <button class="button button-block button-positive" data-comp-id="button.3"
                        ng-click="app.action('form', 'submit', this)"
                        style="border-color: rgba(255, 255, 255, 0);">Submit</button>
                </div>
            </div>
        </div>-->
        <!--Form Contents-->
    </ion-content>
</ion-view>