<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('jobinfo', 'cancel', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job Information</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle positive">
            IND-JOB#-000000013 - Ramkewal Chauhan
        </div>
        <div class="borderStyle light-bg" style="margin: 7px 7px">
            <div style="margin-top:10px;margin-bottom:10px">
                <div class="row">
                    <div class="col labelstyle">
                        <span style="text-align:right;">Service Job No :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.jobnumber" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Ticket Number :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.ticketnumber" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Job Creation Date :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.jobcreationdate" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Repair Status :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.repairstatus" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Priority :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.priority" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Problem Category :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.problemcategory" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Problem Description:</span>
                    </div>
                    <input class="col textstyle" ng-model="data.problemdescription" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Is ADP :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.isadp" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Service Type :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.servicetype" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Service Model :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.servicemodel" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Software Version :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.softwareversion" type="text">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>