<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="goToServiceJob();"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Part Receive Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-light bar-subheader" data-comp-id="header-bar.1"
        dynamic-fixed-header="" style="padding: 0px;">
        <div class="" data-comp-id="div.1"
            style="background-color: rgb(247, 247, 251); margin: 0px; box-shadow: rgb(221, 221, 221) 0px 4px 10px;">
            <div class="row" data-comp-id="row.1" style="padding: 0px 4px;">
                <div class="col text-center" data-comp-id="column.1"
                    ng-click="app.action('PartReceiveDetails', 'selectTab[item].clickTab', this)"
                    ng-repeat="item in data.selectTab"
                    ng-style="item.isSelected ? {'color': '#006bb6', 'border-bottom': '3px solid rgb(0, 107, 182)', 'margin': '0px 0px 0x'} : {'font-size': '14px', 'color': 'rgb(102, 102, 102)'}">
                    <div data-comp-id="text.1" ng-bind="item.tabName" style="font-size: 12px;"></div>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div class="" data-comp-id="div.2" ng-show="data.selectTab[0].isSelected"
            style="box-shadow: rgb(221, 221, 221) 0px 4px 10px; padding: 0px; background-color: rgb(247, 247, 251);">
            <div class="row" data-comp-id="row.2"
                style="background-color: rgb(210, 210, 220);">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2" style="font-size: 14px;">Part Receive Info</div>
                </div>
                <div class="col col-20 text-center" data-comp-id="column.3">
                    <i data-comp-id="icon.1"
                        ng-class="{'icon ion-ios-arrow-down energized':!headerExpanded, 'icon ion-ios-arrow-up energized': headerExpanded}"
                        ng-click="headerExpanded = !headerExpanded" style="font-size: 24px;"></i>
                </div>
            </div>
            <div data-comp-id="row.3" ng-show="headerExpanded">
                <div class="row" data-comp-id="row.4" style="margin: 4px 0px 0px;">
                    <div class="col" data-comp-id="column.4">
                        <div class="" data-comp-id="text.3"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">PR NUMBER</div>
                        <div class="" data-comp-id="text.4" ng-bind="data.partInfo.info.PRNumber"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">PR-000000156</div>
                    </div>
                    <div class="col" data-comp-id="column.5">
                        <div class="" data-comp-id="text.5"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">
                            <span style="color:red">*
                            </span>PO #</div>
                        <div class="" data-comp-id="text.6" ng-bind="data.partInfo.info.PO"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">PR-000000156</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.5" style="margin: 4px 0px;">
                    <div class="col col-33" data-comp-id="column.6" style="padding: 10px 4px;">
                        <div data-comp-id="text.7">
                            <span
                                style="padding : 0px; color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">PR DATE</span>
                        </div>
                    </div>
                    <div class="col" data-comp-id="column.7">
                        <label class="item item-input" data-comp-id="textInput.1"
                            style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51)">
                            <input ng-model="data.partInfo.info.PRDate" readonly="true" type="text">
                        </label>
                    </div>
                    <div class="col text-center col-20" data-comp-id="column.8">
                        <i class="icon fa-icon fa-calendar positive" data-comp-id="icon.2"
                            style="font-size: 24px;"></i>
                    </div>
                </div>
                <div class="row" data-comp-id="row.6" style="margin: 4px 0px;">
                    <div class="col col-33" data-comp-id="column.9" style="padding: 10px 4px;">
                        <div data-comp-id="text.8">
                            <span
                                style="padding : 0px; color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">AWB NUMBER</span>
                        </div>
                    </div>
                    <div class="col" data-comp-id="column.10">
                        <label class="item item-input" data-comp-id="textInput.2"
                            style="width: auto; height: 36px; border-radius: 4px; color: rgb(51, 51, 51)">
                            <input ng-model="data.partInfo.info.AWBNumber" type="text">
                        </label>
                    </div>
                </div>
                <div class="row" data-comp-id="row.7" style="margin: 4px 0px;">
                    <div class="col col-33" data-comp-id="column.11" style="padding: 10px 4px;">
                        <div data-comp-id="text.9">
                            <span style="color:red">*
                            </span>
                            <span
                                style="padding : 0px; color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">REMARKS</span>
                        </div>
                    </div>
                    <div class="col" data-comp-id="column.12">
                        <label class="item item-input" data-comp-id="textInput.3"
                            style="width: auto; height: auto; border-radius: 4px; color: rgb(51, 51, 51)">
                            <textarea ng-model="data.partInfo.info.remarks" rows="4"></textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="" data-comp-id="div.3" ng-show="data.selectTab[0].isSelected"
            style="box-shadow: rgb(221, 221, 221) 0px 4px 10px; padding: 0px; background-color: rgb(247, 247, 251); margin: 12px 0px;">
            <div class="row" data-comp-id="row.8"
                style="background-color: rgb(210, 210, 220);">
                <div class="col" data-comp-id="column.13">
                    <div data-comp-id="text.10" style="font-size: 14px;">Receive Quantity Details</div>
                </div>
                <div class="col col-20 text-center" data-comp-id="column.14">
                    <i data-comp-id="icon.3"
                        ng-class="{'icon ion-ios-arrow-down energized':!detailsExpanded, 'icon ion-ios-arrow-up energized': detailsExpanded}"
                        ng-click="detailsExpanded = !detailsExpanded" style="font-size: 24px;"></i>
                </div>
            </div>
            <div class=" card" data-comp-id="div.4"
                ng-repeat="item in data.partInfo.partDetails" ng-show="detailsExpanded"
                style="padding: 0px;">
                <div class="row" data-comp-id="row.9"
                    style="padding: 0px 12px; margin: 4px 0px;">
                    <div class="col" data-comp-id="column.15">
                        <div class="" data-comp-id="text.11"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">PART NUMBER</div>
                        <div class="" data-comp-id="text.12" ng-bind="item.partNumber"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">LGH-90204602</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.10"
                    style="padding: 0px 12px; margin: 4px 0px;">
                    <div class="col" data-comp-id="column.16">
                        <div class="" data-comp-id="text.13"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">PART DESCRIPTION</div>
                        <div class="" data-comp-id="text.14" ng-bind="item.partDescription"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">ZIJH0 SCREW 1.6D 3L K 3.1D</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.11"
                    style="padding: 0px 12px; margin: 4px 0px;">
                    <div class="col" data-comp-id="column.17">
                        <div class="" data-comp-id="text.15"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">RECEIVE QTY</div>
                        <div class="" data-comp-id="text.16" ng-bind="item.receiveQty"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">2</div>
                    </div>
                    <div class="col" data-comp-id="column.18">
                        <div class="" data-comp-id="text.17"
                            style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">SHORTAGE QTY</div>
                        <div class="" data-comp-id="text.18" ng-bind="item.shortageQty"
                            style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">0</div>
                    </div>
                </div>
                <div data-comp-id="row.12" ng-show="viewAllExpanded">
                    <div class="row" data-comp-id="row.13"
                        style="padding: 0px 12px; margin: 4px 0px;">
                        <div class="col" data-comp-id="column.19">
                            <div class="" data-comp-id="text.19"
                                style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">DAMAGED QTY</div>
                            <div class="" data-comp-id="text.20" ng-bind="item.damagedQty"
                                style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">2</div>
                        </div>
                        <div class="col" data-comp-id="column.20">
                            <div class="" data-comp-id="text.21"
                                style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">EXCESS QTY</div>
                            <div class="" data-comp-id="text.22" ng-bind="item.excessQty"
                                style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">0</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.14"
                        style="padding: 0px 12px; margin: 4px 0px;">
                        <div class="col" data-comp-id="column.21">
                            <div class="" data-comp-id="text.23"
                                style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">LOST QTY</div>
                            <div class="" data-comp-id="text.24" ng-bind="item.lostQty"
                                style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">2</div>
                        </div>
                        <div class="col" data-comp-id="column.22">
                            <div class="" data-comp-id="text.25"
                                style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">UNIT PRICE</div>
                            <div class="" data-comp-id="text.26" ng-bind="item.unitPrice"
                                style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">0</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.15"
                        style="padding: 0px 12px; margin: 4px 0px;">
                        <div class="col" data-comp-id="column.23">
                            <div class="" data-comp-id="text.27"
                                style="color: rgb(153, 153, 153); font-size: 12px; font-weight: bold;">TOTAL AMOUNT</div>
                            <div class="" data-comp-id="text.28" ng-bind="item.totalAmount"
                                style="margin: 0px; line-height: 14px; color: rgb(51, 51, 51);">2</div>
                        </div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.16"
                    style="margin: 4px 0px 0px; border-top: 1px solid rgb(238, 238, 238); padding: 0px;">
                    <div class="col text-center" data-comp-id="column.24"
                        ng-click="app.action('PartReceiveDetails', 'partInfo.partDetails[item].editQuantity', this)"
                        ng-if="item.isEditQuantity"
                        style="border-right: 1px solid rgb(238, 238, 238); padding: 8px;">
                        <i class="icon ion-edit positive" data-comp-id="icon.4" style="font-size: 14px;"></i>
                        <span class=" positive" data-comp-id="text.29" style="font-size: 12px;">Edit</span>
                    </div>
                    <div class="col" data-comp-id="column.25"
                        ng-click="viewAllExpanded = !viewAllExpanded" style="padding: 8px;">
                        <div class="energized text-center" data-comp-id="text.30"
                            style="font-size: 12px;">{{viewAllExpanded ? 'Less details' : 'More details'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="light-bg card" data-comp-id="div.5"
            ng-repeat="item in data.partDiscrepancy.details"
            ng-show="data.selectTab[1].isSelected" style="margin: 10px;">
            <div class="row" data-comp-id="row.17">
                <div class="col" data-comp-id="column.26">
                    <div data-comp-id="text.31"
                        style="font-size: 14px; font-weight: bold; color: rgb(153, 153, 153);">Part</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.18" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.27" style="max-width: 24px;">
                    <i class="icon ion-information-circled" data-comp-id="icon.5"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.28">
                    <span class="" data-comp-id="text.32" ng-bind="item.partNumber"
                        style="margin: 0px 0px 0px 4px; line-height: 14px; color: rgb(51, 51, 51); font-size: 14px;">LGH-90204602</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.19"
                style="border-bottom: 1px solid rgb(238, 238, 238); padding: 0px 8px;">
                <div class="col" data-comp-id="column.29" style="max-width: 24px;">
                    <i class="icon ion-briefcase" data-comp-id="icon.6"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.30">
                    <span data-comp-id="text.33" ng-bind="item.partDescription"
                        style="color: rgb(51, 51, 51); margin: 0px 0px 0px 4px; font-size: 14px;">ZIJH0 SCREW 1.6D 3L K 3.1D</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.20" style="margin: 4px 0px 0px;">
                <div class="col" data-comp-id="column.31">
                    <div data-comp-id="text.34"
                        style="font-size: 14px; font-weight: bold; color: rgb(153, 153, 153);">File</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.21" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.32" style="max-width: 24px;">
                    <i class="icon ion-information-circled" data-comp-id="icon.7"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.33">
                    <span class="" data-comp-id="text.35" ng-bind="item.fileName"
                        style="margin: 0px 0px 0px 4px; line-height: 14px; color: rgb(51, 51, 51); font-size: 14px;">LGH-90204602</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.22" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.34" style="max-width: 24px;">
                    <i class="icon ion-briefcase" data-comp-id="icon.8"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.35">
                    <span data-comp-id="text.36" ng-bind="item.fileDescription"
                        style="color: rgb(51, 51, 51); margin: 0px 0px 0px 4px; font-size: 14px;">ZIJH0 SCREW 1.6D 3L K 3.1D</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.23" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.36" style="max-width: 24px;">
                    <i class="icon ion-document-text" data-comp-id="icon.9"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.37">
                    <span data-comp-id="text.37" ng-bind="item.fileType"
                        style="color: rgb(51, 51, 51); margin: 0px 0px 0px 4px; font-size: 14px;">ZIJH0 SCREW 1.6D 3L K 3.1D</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.24" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.38" style="max-width: 24px;">
                    <i class="icon ion-clock" data-comp-id="icon.10"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.39">
                    <span data-comp-id="text.38" ng-bind="item.DateTime"
                        style="color: rgb(51, 51, 51); margin: 0px 0px 0px 4px; font-size: 14px;">2017-07-27T08:53:18.217</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.25" style="padding: 0px 8px;">
                <div class="col" data-comp-id="column.40" style="max-width: 24px;">
                    <i class="icon ion-briefcase" data-comp-id="icon.11"
                        style="color: rgb(189, 189, 189); font-size: 14px;"></i>
                </div>
                <div class="col" data-comp-id="column.41">
                    <span data-comp-id="text.39" ng-bind="item.photoType"
                        style="color: rgb(51, 51, 51); margin: 0px 0px 0px 4px; font-size: 14px;">Etiam non porta</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.26"
                style="margin: 4px 0px 0px; border-top: 1px solid rgb(238, 238, 238); padding: 0px;">
                <div class="col text-center" data-comp-id="column.42"
                    ng-click="app.action('PartReceiveDetails', 'partDiscrepancy.details[item].upload', this)"
                    ng-if="item.isUpload"
                    style="border-right: 1px solid rgb(238, 238, 238); padding: 8px;">
                    <i class="icon fa-icon fa-upload positive" data-comp-id="icon.12"
                        style="font-size: 14px;"></i>
                    <span class=" positive" data-comp-id="text.40"
                        style="font-size: 12px; margin: 0px 0px 0px 4px;">Upload</span>
                </div>
                <!-- If image is not uploaded yet, we can't delete that deleteRecord
                       so when upload button is there delete button will not be there. -->
                <div class="col text-center" data-comp-id="column.43"
                    ng-click="app.call('Home.deleteRecord',{'index':$index});"
                    ng-show="!item.isUpload" style="padding: 8px;">
                    <i class="icon ion-close-round assertive" data-comp-id="icon.13"
                        style="font-size: 12px;"></i>
                    <span class="text-center assertive" data-comp-id="text.41"
                        style="font-size: 12px; margin: 0px 0px 0px 4px;">Delete</span>
                </div>
            </div>
        </div>
        <div data-comp-id="div.6"
            ng-show="(data.selectTab[1].isSelected &amp;&amp; data.partDiscrepancy.details.length===0) || (data.selectTab[0].isSelected &amp;&amp; data.partInfo.partDetails.length===0)"
            style="text-align:center; margin-top: 10px">
            <div class=" assertive" data-comp-id="text.42">No Data Available</div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""
        style="box-shadow: rgb(221, 221, 221) 0px -5px 12px -4px;">
        <div class="row" data-comp-id="row.27">
            <div class="col" data-comp-id="column.44">
                <button class="button button-block light" data-comp-id="button.2"
                    ng-click="app.action('PartReceiveDetails', 'actions.save', this)"
                    ng-disabled="data.actions.isSaveDisable"
                    style="border-radius: 4px; border: none; height: 40px; width: 100%; background-color: rgb(0, 107, 182);"
                    type="submit">
                    <span style="font-size: 12px;">SAVE RECEIVE</span>
                </button>
            </div>
            <div class="col" data-comp-id="column.45">
                <button class="button button-block light" data-comp-id="button.3"
                    ng-click="app.action('PartReceiveDetails', 'actions.update', this)"
                    ng-disabled="data.actions.isUpdateDisable"
                    style="border-radius: 4px; border: none; height: 40px; width: 100%; background-color: rgb(0, 107, 182);"
                    type="submit">
                    <span style="font-size: 12px;">UPDATE INVENTORY</span>
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>