<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <img class="sortIcon" data-img="" ng-click="closePhotoUpload();"
                ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Photo Upload</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list class=" stable-bg" data-comp-id="ionic-content.2">
            <div ata-comp-id="text.1" class="menuStyle">
                <div class="row">
                    <div class="col">
                        <img class="sortIcon" data-img="" ng-click="goToJobInfo();"
                            ng-src="images/information.png">
                        <div class="iconTextstyle">Job Info</div>
                    </div>
                    <div class="col">
                        <img class="sortIcon" data-img="" ng-click="goToUnitOwner();"
                            ng-src="images/logistics.png">
                        <div class="iconTextstyle">logistic</div>
                    </div>
                    <div class="col">
                        <img class="sortIcon" data-img="" ng-click="goToRemarks()"
                            ng-src="images/remarks.png">
                        <div class="iconTextstyle">Remarks</div>
                    </div>
                    <div class="col">
                        <img class="sortIcon" data-img="" ng-click="goToHistory();"
                            ng-src="images/history.png">
                        <div class="iconTextstyle">History</div>
                    </div>
                    <div class="col">
                        <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                            ng-src="images/information.png">
                        <div class="iconTextstyle">Unit Info</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <div ata-comp-id="text.2" class="headerStyle textstyle">
                {{ticketnumber}}-{{ownername}}
            </div>
        </ion-list>
        <ion-list class=" stable-bg">
            <div ata-comp-id="text.3" class=" stable-bg"
                style="margin: 7px 7px;margin-top:10px;">
                <div class="row stable-bg" data-comp-id="row.1">
                    <div class="row text-center stable-bg" data-comp-id="takePhoto.1"
                        take-photo="control">
                        <div class="col stable-bg"
                            style="width: 50%; border: 1px dotted rgb(200, 200, 200); border-radius: 5px;">
                            <div class="row" style="text-align:right">
                                <div class="col">
                                    <img class="icon ion-camera positive" data-img="" ng-src="images/camera.png">
                                </div>
                                <div class="col textstyle"
                                    style="margin-right:10px;margin-top:10px;font-size:16px !important;text-align:left">
                                    <lebel>Camera</lebel>
                                </div>
                            </div>
                            <textarea class="not-visible" ng-model="data.attachmentContent"></textarea>
                            <p class="" data-comp-id="text.1"
                                style="font-weight: 300; font-size: 10px; color: rgb(207, 104, 104);">Upload file size limit is 2 MB.</p>
                            <input disabled="" id="camera" ng-if="style === 'control'" ng-model="mydata"
                                style="display: none;height:2px;text-align:center; font-size: 11px; position:relative"
                                type="text">
                        </div>
                        <img data-comp-id="image.1" data-img="" ng-src="{{data.attachmentContent}}"
                            placeholder="Preview here..." style="width: 50%;height:110px; ">
                    </div>
                </div>
                <div class="row1 light-bg" data-comp-id="column.1"
                    style="margin-top:15px !important;padding: 0px;margin:5px;">
                    <label class="item item-input item-stacked-label nocolor-bg "
                        data-comp-id="textAreaInput.1" style="width:100%;border-radius:0px;">
                        <span class="input-label"></span>
                        <textarea ng-model="data.descriptions" placeholder="Description here..."
                            rows="1"></textarea>
                    </label>
                </div>
                <div class="row" style="text-align:center;margin-top:15px;margin-left:40%">
                    <button class="button buttonStyle" data-comp-id="button.1"
                        ng-click="savePhoto();">Save</button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>