<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="closePhotoUpload();"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Photo Upload</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle calm-bg positive">
            {{ticketnumber}}-{{ownername}}
        </div>
        <!--<hr style="border:#0099e6  solid .5px;width:500px">-->
        <!--Form Contents-->
        <div class="borderStyle light-bg" style="margin: 7px 7px">
            <div style="margin-top:0px;margin-bottom:10px">
                <div class="row fontformate">
                    Upload Photo
                </div>
                <hr style="border:#a3c1cc solid 1px;margin-top:0px;">
                <div class="row" data-comp-id="row.1">
                    <div class="col text-center light-bg" data-comp-id="takePhoto.1"
                        style="width: 50%; border: 3px dotted rgb(200, 200, 200); border-radius: 10px;"
                        take-photo="control">
                        <i class="icon ion-camera positive" data-comp-id="icon.1"
                            style="font-size: 30px;"></i>
                        <textarea class="not-visible" ng-model="data.attachmentContent"></textarea>
                        <div data-comp-id="text.1" style="line-height: 32px;">Take Photo</div>
                        <p class="" data-comp-id="text.2"
                            style="font-weight: 300; font-size: 10px; color: rgb(207, 104, 104);">Note : Upload file size limit is 2 MB.</p>
                        <input disabled="" id="camera" ng-if="style === 'control'" ng-model="mydata"
                            ng-src="{{mydata}}"
                            style="height:20px;text-align:center; width: 100%; font-size: 11px;" type="text">
                    </div>
                    <div class="col" data-comp-id="column.1" style="padding: 0px; margin: 0px 3px;">
                        <label class="item item-input item-stacked-label nocolor-bg"
                            data-comp-id="textAreaInput.1" style="border-radius:10px">
                            <span class="input-label"></span>
                            <textarea ng-model="data.description" placeholder="Description here..." rows="4"></textarea>
                        </label>
                    </div>
                </div>
                <!--<div class=" assertive" data-comp-id="text.2"
                style="font-size: 10px; padding: 0px 45px;">Note : Upload file size limit is 2 MB.</div>-->
                <div class="row">
                    <button class="button button-block" data-comp-id="button.2"
                        ng-click="savePhoto();"
                        style="background-color:#90ccce;border-radius:5px;color:white;width:100px !important;margin-left :10%">Save</button>
                    <!--<button class="button button-block" data-comp-id="button.3"
                        ng-click="closePhotoUpload();"
                        style="background-color:#90ccce;border-radius:5px;color:white;with:100px !important;margin-left :5%;margin-right :10%">Close</button>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>