<ion-view data-comp-id="ionic-view.1">
    <ion-content class="splashbg nocolor-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1" style="margin: 40% 10%;">
            <div class="row" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1">
                    <h1 class=" energized" data-comp-id="text.1">FlexLink</h1>
                </div>
            </div>
            <div class="row" data-comp-id="row.2"
                style="margin: 12px 0px 0px; padding: 0px;">
                <div class="col text-center" data-comp-id="column.2">
                    <ion-spinner class="spinner" icon="android" style="color: rgb(0, 163, 207);"></ion-spinner>
                </div>
            </div>
            <div class="row" data-comp-id="row.3" style="padding: 0px;">
                <div class="col text-center" data-comp-id="column.3" style="padding: 0px;">
                    <div data-comp-id="text.2"
                        style="color: rgb(75, 139, 244); font-size: 18px; font-weight: normal;">Loading ...</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>