<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Remarks</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="stable-bg" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div ata-comp-id="text.1" class="headerStyle positive">
                IND-JOB#-000000013 - Ramkewal Chauhan
            </div>
            <div class=" light-bg" data-comp-id="div.1"
                style="margin: 4px 4px; border-radius: 10px;">
                <div class="row fontformate">
                    Additional Information
                </div>
                <hr style="border:#a3c1cc solid 2px;margin-top:0px;">
                <div class="row" style="margin-top:5px !important">
                    <div class="button_box2">
                        <div class="row form-wrapper-2 cf">
                            <input placeholder="Type here..." required="" type="text">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class=" light-bg" data-comp-id="div.2"
                style="margin: 4px 4px; border-radius: 20px;padding-bottom:10px">
                <div class="row fontformate">History Additional Information</div>
                <hr style="border:#a3c1cc solid 2px;margin-top:0px;">
                <div class="light-bg card" data-comp-id="div.3"
                    ng-repeat="item in data.remarklist"
                    style="margin: 4px 4px;; border-radius: 10px;border:0px solid;border-color:white">
                    <div class="row" data-comp-id="row.1">
                        <div class="col" data-comp-id="column.1" style="padding: 0px;">
                            <div class="row" data-comp-id="row.2" style="padding: 0px 10px;">
                                <div class="col" data-comp-id="column.2">
                                    <div class="" data-comp-id="text.1"
                                        style="color: rgb(51, 51, 51); font-size: 12px; font-weight: bold;">{{item.jobnumber}}
                                    </div>
                                </div>
                                <div class="col" data-comp-id="column.3">
                                    <div class="" data-comp-id="text.2" ng-bind="item.remark"
                                        style="color: rgb(51, 51, 51); font-size: 12px;">PR-000000189</div>
                                </div>
                                <div class="col" data-comp-id="column.4">
                                    <div class="" data-comp-id="text.3" ng-bind="item.createddate"
                                        style="color: rgb(51, 51, 51); font-size: 12px;">1234566</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="body">
                    <table>
                        <thead>
                            <tr>
                                <th>CODE</th>
                                <th>STOCK</th>
                                <th>CAP</th>
                                <th>INCH</th>
                                <th>BOX TYPE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CES-9000</td>
                                <td>50mt</td>
                                <td>9mm</td>
                                <td>1/2"</td>
                                <td>Kangal / Coil</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ion-list>
        <!--Form Contents-->
    </ion-content>
</ion-view>