<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Service Job</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-light bar-subheader" data-comp-id="header-bar.1"
        dynamic-fixed-header="" style="padding: 0px;">
        <div class="" data-comp-id="div.1"
            style="background-color: rgb(247, 247, 251); margin: 0px; box-shadow: rgb(221, 221, 221) 0px 4px 10px;">
            <div class="row" data-comp-id="row.1" style="padding: 0px 4px;">
                <div class="col text-center" data-comp-id="column.1"
                    ng-click="app.action('servicejob', 'selectTabs[item].clickTab', this)"
                    ng-repeat="item in data.selectTabs"
                    ng-style="item.isSelected ? {'color': '#006bb6', 'border-bottom': '3px solid rgb(0, 107, 182)', 'margin': '0px 0px 0x'} : {'font-size': '14px', 'color': 'rgb(102, 102, 102)'}">
                    <div data-comp-id="text.1" style="font-size: 14px;">{{item.tabName.replace(' Info', '')}}</div>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div class="" data-comp-id="div.2"
            style="padding: 0px; background-color: rgb(241, 241, 247);"></div>
        <div class=" card" data-comp-id="div.3" ng-repeat="item in data.listItems"
            style="margin: 10px 10px;">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2" style="padding: 0px;">
                    <div class="row" data-comp-id="row.3" style="padding: 0px 12px;">
                        <div class="col" data-comp-id="column.3">
                            <div class="" data-comp-id="text.2" ng-bind="item.ticketnumber"
                                style="color: rgb(51, 51, 51); font-size: 12px;">PR-000000156</div>
                        </div>
                        <div class="col" data-comp-id="column.4">
                            <div class="" data-comp-id="text.3" ng-bind="item.firstname"
                                style="color: rgb(51, 51, 51); font-size: 14px;">PR-000000189</div>
                        </div>
                    </div>
                    <span class=" positive" data-comp-id="text.4" ng-click="expanded = !expanded"
                        style="font-size: 10px; padding: 0px 17px;">{{expanded ? 'Less details' : 'More Details'}}</span>
                </div>
                <div class="col text-right col-10" data-comp-id="column.5"
                    style="padding: 10px;">
                    <div class="row" data-comp-id="row.4"
                        style="padding: 0px; position: relative;  top: 50%;  transform: translateY(-50%);">
                        <div class="col" data-comp-id="column.6" style="padding: 0px;">
                            <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.1"
                                style="font-size: 32px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.4" ng-show="data.listItems.length==0"
            style="text-align:center; margin-top: 10px">
            <div class=" assertive" data-comp-id="text.5">No Data Available</div>
        </div>
    </ion-content>
</ion-view>