<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <img class="sortIcon" data-img=""
                ng-click="app.action('servicejobremarks', 'close', this)"
                ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1" style="font-weight:bold;">Remarks</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="stable-bg" data-comp-id="ionic-content.1">
        <ion-list class=" stable-bg" data-comp-id="ionic-content.2">
            <div ata-comp-id="text.1" class="menuStyle">
                <div class="row spaceStyle">
                    <div class="col spaceStyle">
                        <div ng-if="!isJobInfoSeleted">
                            <img class="sortIcon " data-img="" ng-click="goToJobInfo();"
                                ng-src="images/information.png">
                            <div class="iconTextstyle">Job Info</div>
                        </div>
                        <div ng-if="isJobInfoSeleted" style="background-color:#6a478d">
                            <img class="sortIcon" data-img="" ng-click="goToJobInfo();"
                                ng-src="images/information_white.png">
                            <div class="iconTextstyleWhite">Job Info</div>
                        </div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitOwner();"
                            ng-src="images/logistics.png">
                        <div class="iconTextstyle">Logistic</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                            ng-src="images/upload.png">
                        <div class="iconTextstyle">Upload</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToHistory();"
                            ng-src="images/history.png">
                        <div class="iconTextstyle">History</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                            ng-src="images/unit_info_white.png">
                        <div class="iconTextstyle">Unit Info</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <!--Form Contents-->
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div ata-comp-id="text.2" class="headerStyle textstyle">
                {{ticketnumber}}
                -
                {{ownername}}
            </div>
            <div data-comp-id="div.1" style="margin: 10px 7px;">
                <div class="row divHeadStyle2">
                    Additional Information
                </div>
                <div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.1">
                        <textarea class="textstyle" ng-model="data.additionalinformation"
                            placeholder="Write Something" rows="2" type="text"></textarea>
                    </label>
                </div>
                <div style="margin-top:10px;text-align:center;padding-bottom:10px !important;">
                    <button class="button buttonStyle"
                        ng-click="app.action('servicejobremarks','save',this)" type="submit">
                        Post</button>
                </div>
            </div>
            <div data-comp-id="div.2" style="margin: 5px 7px;">
                <div class="row divHeadStyle2">Remarks History</div>
                <div class="light-bg" style="padding-bottom:10px !important;">
                    <div ng-repeat="item in data.remarklist"
                        style="padding-top:10px !important;margin-left:10px">
                        <div>
                            <label class="remarksTextstyle1">Posted on
                                {{item.createddate}}</label>
                        </div>
                        <div>
                            <label class="remarksTextstyle2">
                                {{item.remark}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <!--Form Contents-->
    </ion-content>
</ion-view>