<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('servicejobremarks', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1" style="font-weight:bold;">Remarks</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="stable-bg" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}
                -
                {{ownername}}
            </div>
            <div data-comp-id="div.1" style="margin: 7px 7px;">
                <div class="row divHeadStyle2">
                    Additional Information
                </div>
                <div>
                    <label class="item item-input item-stacked-label light-bg"
                        data-comp-id="textAreaInput.1">
                        <textarea ng-model="data.additionalinformation" placeholder="Write Something.."
                            rows="2" type="text"></textarea>
                    </label>
                </div>
                <div style="margin-top:10px;text-align:center;padding-bottom:10px !important;">
                    <button class="buttonStyle"
                        ng-click="app.action('servicejobremarks','save',this)" type="submit">
                        Post</button>
                </div>
            </div>
            <div></div>
            <div data-comp-id="div.2" style="margin: 7px 7px;">
                <div class="row divHeadStyle2">Remarks History</div>
                <div class="light-bg" style="padding-bottom:10px !important;">
                    <div ng-repeat="item in data.remarklist"
                        style="padding-top:10px !important;margin-left:10px">
                        <div>
                            <label class="remarksTextstyle1">Posted on
                                {{item.createddate}}</label>
                        </div>
                        <div>
                            <label class="remarksTextstyle2">
                                {{item.remark}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <!--Form Contents-->
    </ion-content>
</ion-view>