<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <img class="sortIcon" data-img=""
                ng-click="app.action('servicejobhistory', 'close', this)"
                ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1" style="font-weight:bold;">Job History</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list class=" stable-bg" data-comp-id="ionic-content.2">
            <div ata-comp-id="text.1" class="menuStyle">
                <div class="row spaceStyle1">
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToJobInfo();"
                            ng-src="images/information.png">
                        <div class="iconTextstyle">Job Info</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                            ng-src="images/upload.png">
                        <div class="iconTextstyle">Upload</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToRemarks()"
                            ng-src="images/remarks.png">
                        <div class="iconTextstyle">Remarks</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitOwner();"
                            ng-src="images/logistics.png">
                        <div class="iconTextstyle">Logistic</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                            ng-src="images/unit_info_white.png">
                        <div class="iconTextstyle">Unit Info</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}-{{ownername}}
            </div>
        </ion-list>
        <ion-list>
            <div class="card light-bg" data-comp-id="div.1"
                ng-repeat="item in data.jobhistory" style="margin:10px;margin-top:5px">
                <div class="row labelstyle2" data-comp-id="text.1"
                    ng-bind="item.issuedescription"></div>
                <div class="row">
                    <div class="textstyleItalic" data-comp-id="text.2" ng-bind="item.repairdate"></div>
                    <div
                        style="border-left:2px solid #f1f1f1;height:15px;margin-left:10px;margin-right:10px"></div>
                    <div class="textstyleItalic" data-comp-id="text.3" ng-bind="item.status"></div>
                    <i class="icon ion-ios-arrow-right" data-comp-id="icon.1"
                        ng-click="goToJobHistoryDetails($index);"
                        style="font-size: 15px; color: rgb(153, 153, 153);position:absolute;right:30px"></i>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>