<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('servicejobhistory', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job History</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle positive">
            IND-JOB#-000000013 - Ramkewal Chauhan
        </div>
        <div class=" card light-bg" data-comp-id="div.1"
            ng-repeat="item in data.jobhistory"
            style="margin:7px 7px; border-radius: 10px;border-style: solid;border-color:green !important;border-width: 1px !important">
            <div class="row" data-comp-id="row.1" style="border-color:red !important">
                <div class="col" data-comp-id="column.1" style="margin: 0% 4%;">
                    <div class="row" data-comp-id="row.2" style="padding: 2px 0px;">
                        <div class="col" data-comp-id="column.2" style="padding: 0px;">
                            <div data-comp-id="text.1" ng-bind="item.repairdate" style="font-size: 18px;"></div>
                            <i class="icon ion-ios-arrow-right" data-comp-id="icon.1"
                                ng-click="goToJobHistoryDetails($index);"
                                style="font-size: 22px; float : right;color: rgb(153, 153, 153); "></i>
                            <div class=" positive" data-comp-id="text.2" ng-bind="item.issuedescription"
                                style="font-size: 19px; float: left;">from@test.com</div>
                        </div>
                    </div>
                    <div data-comp-id="text.3" ng-bind="item.status"
                        style="font-size: 16px; color: rgb(153, 153, 153); margin: 0%; line-height: 18px;">Subject Line</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>