<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('servicejobhistory', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job History</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list class=" stable-bg" data-comp-id="ionic-content.2">
            <div ata-comp-id="text.1" class="menuStyle">
                <div class="row spaceStyle">
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToJobInfo();"
                            ng-src="images/information.png">
                        <div class="iconTextstyle">Job Info</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                            ng-src="images/upload.png">
                        <div class="iconTextstyle">Upload</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToRemarks()"
                            ng-src="images/remarks.png">
                        <div class="iconTextstyle">Remarks</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToHistory();"
                            ng-src="images/history.png">
                        <div class="iconTextstyle">History</div>
                    </div>
                    <div class="col spaceStyle">
                        <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                            ng-src="images/information.png">
                        <div class="iconTextstyle">Unit Info</div>
                    </div>
                </div>
            </div>
        </ion-list>
        <ion-list>
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}-{{ownername}}
            </div>
            <div class="card light-bg" data-comp-id="div.1"
                ng-repeat="item in data.jobhistory" style="margin:10px">
                <div class="row labelstyle2" data-comp-id="text.1"
                    ng-bind="item.issuedescription"></div>
                <div class="row textstyleItalic" data-comp-id="text.2" ng-bind="item.repairdate"></div>
                <div class="VerticalLineStyle"></div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>