<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('servicejobhistory', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Job History Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle positive">
            IND-JOB#-000000013 - Ramkewal Chauhan
        </div>
        <div class="muck-up">
            <div class="overlay"></div>
            <div class="top">
                <div class="nav">
                    <span class="ion-android-menu"></span>
                    <p>Job History</p>
                    <span class="ion-ios-more-outline"></span>
                </div>
                <div class="user-profile"></div>
            </div>
            <div class="clearfix"></div>
            <div class="filter-btn">
                <a href="#" id="one">
                    <i class="ion-ios-checkmark-outline"></i>
                </a>
                <a href="#" id="two">
                    <i class="ion-ios-alarm-outline"></i>
                </a>
                <a href="#" id="three">
                    <i class="ion-ios-heart-outline"></i>
                </a>
                <a href="#" id="all">
                    <i class="ion-ios-star-outline"></i>
                </a>
                <span class="toggle-btn ion-android-funnel"></span>
            </div>
            <div class="clearfix"></div>
            <div class="bottom">
                <div class="title">
                    <h3>Job History</h3>
                    <small>{{date}}</small>
                </div>
                <ul class="tasks">
                    <li class="one red">
                        <span class="task-title">Make New Icon</span>
                        <span class="task-time">5pm</span>
                        <span class="task-cat">Web App</span>
                    </li>
                    <li class="one red">
                        <span class="task-title">Catch up with Brian</span>
                        <span class="task-time">3pm</span>
                        <span class="task-cat">Mobile Project</span>
                    </li>
                    <li class="two green">
                        <span class="task-title">Design Explorations</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Company Web site</span>
                    </li>
                    <li class="tow green hang">
                        <span class="task-title">Team Meeting</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Hangouts</span>
                        <img
                            src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/2.jpg">
                        <img
                            src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/3.jpg">
                        <img
                            src="https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/profile.jpg">
                    </li>
                    <li class="three yellow">
                        <span class="task-title">New Projects</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Starting</span>
                    </li>
                    <li class="three yellow">
                        <span class="task-title">Lunch with Mary</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Grill House</span>
                    </li>
                    <li class="three yellow">
                        <span class="task-title">Team Meeting</span>
                        <span class="task-time">2pm</span>
                        <span class="task-cat">Hangouts</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>