<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <!--<img class="sortIcon" data-img="" ng-click="toggleMenu();"
                ng-src="images/bar.png">-->
            <img class="sortIcon" data-img=""
                ng-click="app.action('unitowner', 'close', this)" ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title class="mainHeader" data-comp-id="nav-title.1" side="right">Pickup / Delivery</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<img class="sortIcon" data-img=""
                ng-click="app.action('unitowner', 'close', this)" ng-src="images/home.png">-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-subheader bar-light spaceStyle"
        data-comp-id="header-bar.1" dynamic-fixed-header="">
        <div ata-comp-id="text.1" class="menuStyle">
            <div class="row spaceStyle1">
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToJobInfo();"
                        ng-src="images/information.png">
                    <div class="iconTextstyle">Job Info</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                        ng-src="images/upload.png">
                    <div class="iconTextstyle">Upload</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToRemarks()"
                        ng-src="images/remarks.png">
                    <div class="iconTextstyle">Remarks</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToHistory();"
                        ng-src="images/history.png">
                    <div class="iconTextstyle">History</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                        ng-src="images/unit_info_white.png">
                    <div class="iconTextstyle">Unit Info</div>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div ata-comp-id="text.1" class="headerStyle textstyle">
                {{ticketnumber}}
                :
                {{ownername}}
            </div>
        </ion-list>
        <ion-list>
            <div class="light-bg1" data-comp-id="div.1" style="margin:0px 7px 7px;">
                <div class="row">
                    <div class="imageStyle1">
                        <img class="sortIcon imageStyle2" data-img="" ng-src="images/pickup.png">
                    </div>
                    <div class="light-bg" style="width:70%">
                        <div style="margin:10px">
                            <label class="divHeadStyle">Pickup Address</label>
                            <div class="textstyle" style="margin-top:5px">{{data.pickupaddress1}},
                                {{data.pickupaddress2}},
                                {{data.pickupcity}}</div>
                            <div class="textstyle">{{data.pickupstate}},
                                {{data.pickupzipcode}},
                                {{data.pickupcountry}}</div>
                            <div class="row">
                                <label
                                    style="color:#505050; font-size:13px;font-weight:Medium;font-style: italic;color:black !important">Delivery Method :
                                </label>
                                <div class="textstyle">{{data.deliverymethod}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="light-bg1" data-comp-id="div.2" style="margin: 7px 7px;">
                <div class="row">
                    <div class="imageStyle1">
                        <img class="sortIcon imageStyle2" data-img="" ng-src="images/delivery.png">
                    </div>
                    <div class="light-bg" style="width:70%;">
                        <div style="margin:10px;">
                            <label class="divHeadStyle">Delivery Address</label>
                            <div class="textstyle" style="margin-top:5px;font-style: italic !important"><input ng-model="data.isdeliverysameaspickup" type="checkbox">
                                Delivery Same As Pickup</div>
                            <div class="textstyle" style="margin-top:10px">{{data.deliveryaddress1}},
                                {{data.deliveryaddress2}},
                                {{data.deliverycity}}</div>
                            <div class="textstyle">{{data.deliverystate}},
                                {{data.deliveryzipcode}},
                                {{data.deliverycountry}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>