<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('unitinfo', 'cancel', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Unit Information</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class=" positive"
            style=";height:30px;font-size: 12px;color:black;text-align:center;color:white;background-color:#5993a6;margin-top:3px">
            &lt;&lt; IND-JOB#-000000013 (Ramkewal Chauhan) &gt;&gt;
        </div>
        <!--<hr style="border:#0099e6  solid .5px;width:500px">-->
        <!--Form Contents-->
        <div class="light-bg"
            style="margin: 4px 4px; border-radius: 10px;border:3px solid;border-color:white">
            <div style="margin-top:10px;margin-bottom:10px">
                <div class="row">
                    <div class="col labelstyle">
                        <span style="text-align:right;">Serial Number :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.serialnumber" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Machine Type :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.machinetype" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>IMEI 1 :
                        </span>
                    </div>
                    <input class="col textstyle" ng-model="data.imei1" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>IMEI 2 :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.imei2" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Manufacturer :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.manufacturer" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Product Category :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.productcategory" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Product Model :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.productmodel" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>SKU(MTM) :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.skuormtm" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Warranty Status :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.warrantystatus" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Warranty Expiry Date :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.warrantyexpirydate" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Date of Purchase :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.dateofpurchase" type="text">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>