<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <img class="sortIcon" data-img=""
                ng-click="app.action('unitinfo', 'cancel', this)" ng-src="images/home.png">
        </ion-nav-buttons>
        <ion-nav-title class="mainHeader" data-comp-id="nav-title.1">Unit Information</ion-nav-title>
        <ion-nav-buttons side="right">
            <!--<button class="button button-icon ion-home" data-comp-id="button.2"></button>-->
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-subheader bar-light spaceStyle"
        data-comp-id="header-bar.1" dynamic-fixed-header="">
        <div ata-comp-id="text.1" class="menuStyle">
            <div class="row spaceStyle1">
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToHistory();"
                        ng-src="images/history.png">
                    <div class="iconTextstyle">History</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToPhotoUpload();"
                        ng-src="images/upload.png">
                    <div class="iconTextstyle">Upload</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToRemarks();"
                        ng-src="images/remarks.png">
                    <div class="iconTextstyle">Remarks</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToUnitOwner();"
                        ng-src="images/logistics.png">
                    <div class="iconTextstyle">Logistic</div>
                </div>
                <div class="col spaceStyle">
                    <img class="sortIcon" data-img="" ng-click="goToUnitInfo();"
                        ng-src="images/unit_info_white.png">
                    <div class="iconTextstyle">Unit Info</div>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list>
            <div ata-comp-id="text.1" class="headerStyle positive">
                {{ticketnumber}}-{{ownername}}
            </div>
        </ion-list>
        <ion-list>
            <div class="light-bg muck-up" style="margin:10px;margin-top:5px">
                <div class="bottom">
                    <ul class="tasks">
                        <li class="green">
                            <div class="labelstyle">SERIAL NUMBER</div>
                            <div class="textstyle">{{data.serialnumber}}</div>
                        </li>
                        <li class="green">
                            <div class="labelstyle">MACHINE TYPE</div>
                            <div class="textstyle">{{data.machinetype}}</div>
                        </li>
                        <li class="green">
                            <div class="labelstyle">IMEI 1</div>
                            <div class="textstyle">{{data.imei1}}</div>
                        </li>
                        <li class="green">
                            <div class="labelstyle">IMEI 2</div>
                            <div class="textstyle">{{data.imei2}}</div>
                        </li>
                        <li class="green">
                            <div class="labelstyle">MANUFACTURER</div>
                            <div class="textstyle">{{data.manufacturer}}</div>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Manufacturer :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.manufacturer" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Product Category :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.productcategory" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Product Model :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.productmodel" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>SKU(MTM) :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.skuormtm" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Warranty Status :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.warrantystatus" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Warranty Expiry Date :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.warrantyexpirydate" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Date of Purchase :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.dateofpurchase" type="text">
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>