<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.action('unitowner', 'close', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Pickup / Delivery</ion-nav-title>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div ata-comp-id="text.1" class=" positive"
                style="font-size: 13px;text-align:center;font-weight:">
                &lt;&lt; IND-JOB#-000000013 (Ramkewal Chauhan) &gt;&gt;
            </div>
            <hr style="border:#0099e6  solid .5px;width:500px">
            <div class=" light-bg" data-comp-id="div.1"
                style="margin: 5px 10px; border-radius: 20px;">
                <div class="row energized fontformate">
                    Pickup Address
                </div>
                <hr style="border:#0099e6  solid .5px;">
                <div class="row">
                    <div class="col labelstyle">
                        <span>
                            Address 1 :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupaddress1" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Address 2 :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupaddress2" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>City :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupcity" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>State :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupstate" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Zip Code :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupzipcode" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Country :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.pickupcountry" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Delivery Method :</span>
                    </div>
                    <input class="col textstyle" ng-model="data.deliverymethod" type="text">
                </div>
            </div>
            <div class=" light-bg" data-comp-id="div.2"
                style="margin: 5px 10px; border-radius: 20px;">
                <div style="margin-bottom:50px !important">
                    <div class="row energized fontformate">Delivery Address</div>
                    <hr style="border:#0099e6  solid .5px;">
                    <div style="height:15px;margin-left:15px;">
                        <input ng-model="data.isdeliverysameaspickup" type="checkbox">Delivery Same As Pickup
                        <!-- <ion-checkbox class="" data-comp-id="checkbox.1">Delivery Same As Pickup</ion-checkbox>-->
                    </div>
                </div>
                <div ng-show="data.isdeliverysameaspickup">
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Address 1 :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliveryaddress1" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Address 2 :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliveryaddress2" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>City :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliverycity" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>State :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliverystate" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Zip Code :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliverycountry" type="text">
                    </div>
                    <div class="row">
                        <div class="col labelstyle">
                            <span>Country :</span>
                        </div>
                        <input class="col textstyle" ng-model="data.deliveryzipcode" type="text">
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>