<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.go('app.peoplelist')"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Directory Profile</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"
                ng-click="app.call('home.goHome')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div ata-comp-id="text.1" class="headerStyle calm-bg positive">
            {{ticketnumber}}-{{ownername}}
        </div>
        <div class="borderStyle light-bg" data-comp-id="div.1" style="margin: 7px 7px">
            <img data-comp-id="image.1" ng-click="app.action('unitphoto', 'upload', this)"
                ng-src="images/call.jpg" style=" margin:10px;width: 335px;height:200px">
        </div>
    </ion-content>
</ion-view>