<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Unit Owner</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1" type=" stable-bg">
            <div class=" light-bg" data-comp-id="div.1"
                style="margin: 5px 10px; border-radius: 10px;">
                <div class="row energized fontformate">
                    Pickup Address
                </div>
                <svg height="1" width="400">
                    <line style="stroke:rgb(0,0,255);stroke-width:2" x1="0" x2="355" y1="0" y2="0"></line>
                </svg>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Address1 :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupaddress1" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Address1 :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupaddress2" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>City :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupcity" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>State :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupstate" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Zip Code :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupzipcode" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Country :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.pickupcountry" type="text">
                </div>
                <div class="row">
                    <div class="col labelstyle">
                        <span>Delivery Method :</span>
                    </div>
                    <input class="col" id="textstyle" ng-model="data.deliverymethod" type="text">
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>